@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <h1 class="display-4">Bolsa de empleo</h1>
   </div>
   <div class="Botones">
        <button><a href="/Jobs">Ver ofertas de empleo</a></button>
        <button><a href="/Employees">Crear oferta de empleo</a></button>
        <button>Listar empleados</button>
        <button>Registrar empleado</button>
   </div>
</div>
